!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'X-UA-Compatible', content: 'IE=edge'}
    %title Staff | Libran
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/default.css'}
  %body.staff-page
    %header
      %nav.navbar.navbar-light.navbar-expand-lg.fixed-top
        .container
          %a.navbar-brand{href: '/staff/'} Libran
          %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav', 'aria-controls': 'navbarNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
            %span.fa.fa-bars
          .collapse.navbar-collapse#navbarNav
            %ul.navbar-nav.ml-auto
              %li.nav-item.active
                %a.nav-link{href: '/staff/'}
                  Dashboard
                  %span.sr-only (current)
              %li.nav-item
                %a.nav-link{href: '/login.html'}
                  Logout
    %main
      .container
        .row
          .col-md
            .box
              %h3 Book Lends
              %div{style: 'margin: 1em'}
              .footer#book-lends
                .row.no-margin.no-padding
                  .col-md-5
                    %input.code{type: 'text', placeholder: 'Usercode'}
                  .col-md-6
                    %input.isbn{type: 'text', placeholder: 'ISBN'}
                  .col-md-1{align: 'right'}
                    %i.fa.fa-check{onclick: 'lendBook(this)'}
            .box
              %h3 Book Returns
              %div{style: 'margin: 1em'}
              .footer#book-returns
                .row.no-margin.no-padding
                  .col-md-5
                    %input.code{type: 'text', placeholder: 'Usercode'}
                  .col-md-6
                    %input.isbn{type: 'text', placeholder: 'ISBN'}
                  .col-md-1{align: 'right'}
                    %i.fa.fa-check{onclick: 'returnBook(this)'}
            .box
              %h3 Member Registration
              %div{style: 'margin: 1em'}
              .footer#member-registration
                .row.no-margin.no-padding
                  .col-md-5
                    %input.code{type: 'text', placeholder: 'Usercode'}
                  .col-md-5
                    %input.fullname{type: 'text', placeholder: 'Fullname'}
                  .col-md-2{align: 'right'}
                    %i.fa.fa-check{onclick: 'addMember(this)'}
            .box
              %h3 Income
              .body
                Rp. 0.00,-
          .col-md
            .box
              %h3 Reports
              .body#report-list No report.
            .box
              %h3 Books
              .body#book-list
                .row.no-margin.no-padding{style: 'font-weight: 900'}
                  .col-sm-3{align: 'center'} ISBN
                  .col-sm-7 Title
                  .col-sm-2{align: 'center'} Stock
                %hr{style: 'margin: 0'}
              .footer
                .row.no-margin.no-padding
                  .col-md-3
                    %input.isbn{type: 'text', placeholder: 'ISBN', style: 'text-align: center'}
                  .col-md-5
                    %input.title{type: 'text', placeholder: 'Title'}
                  .col-md-2
                    %input.stock{type: 'text', placeholder: 'Stock', style: 'text-align: center'}
                  .col-md-2{align: 'center'}
                    %i.fa.fa-check{onclick: 'addBook(this)'}
    %footer
      .container
        .row
          .col-md-4
            Copyright &copy; 2018,
            %a{href: '/'} Libran.
          .col-md-8
            .list
              %a{href: '/help.html'} Help
              %a{href: '/features.html'} Features
              %a{href: '/bug-report.html'} Bug Report
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'}
    %script{src: '/js/application.js'}
